<div class="S_Profile">
  <%= render @profile %>

  <div class="S_DiscussionCards">
    <div class="SavedHeading">
      <h3>Saved Discussions</h3>
    </div>
    .<div class="C_DiscussionCards">
        <p>You haven't yet saved anything</p>
    </div>
  </div>

    <div class="S_Articles">
    <div class="SavedHeading">
      <h3>Saved Articles</h3>
    </div>
    <div class="C_ArticleCards">
      <p>You haven't yet saved anything</p>
    </div>
  </div>
</div>

