<% content_for :title, "Discussions" %>

<h1>Обсуждения</h1>

<% if current_user && current_user.admin? %> 
  <%= link_to "New discussion", new_admin_discussion_path %>
<% end %>

<div id="discussions">
  <% @discussions.each do |discussion| %>
    <%= render discussion %>

    <% if current_user && current_user.admin? %> 
      <p>
        <%= link_to "Show this discussion", new_admin_discussion_path %>
      </p>
    <% end %>
  <% end %>
</div>
