<p>
    <b>Commenter:</b>
    <%= comment.user_id %>
</p>

<p>
    <b>Comment:</b>
    <%= comment.body %>
</p>

<p>
    <%= link_to 'Destroy Comment', [comment.commentable, comment], data: { turbo_stream: false, turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</p>