<%= form_with(model: [commentable, Comment.new], local: true) do |form| %>
    <div class="M_AddComment">
        <%= form.text_field :body, class: "A_Input", placeholder: "Type your comment" %>
        <button type="submit" class="A_Button PrimaryButton">
            <p class="PrimaryButton_Text">add comment</p>
        </button>
    </div>
<% end %>