<%= form_with model: Comment.new, url: polymorphic_path([@post || @discussion, Comment.new]) do |form| %>

    <div class="field">
        <%= form.label :body %><br />
        <%= form.text_area :body %>
    </div>

    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>