<div class="menu-bar"></div>
<h1 class="text-logo">hey!Buddy</h1>
<div class="mark"></div>
<div class="description_follow">
  <p class="whitetext">
    Медиа-сервис, помогающий иностранным студентам адаптироваться к жизни
    в России
  </p>
  <a href="https://t.me/heeeybuddy"><button>подписаться</button></a>
</div>

<div class="folder">
  <div class="folder_container">
    <img class="px_icon_size" src="/assets/pixel_chel.svg" alt="" />
    <h1>МЕДИА-СЕРВИС ДЛЯ ИНОСТРАННЫХ СТУДЕНТОВ</h1>
    <p>
      Готовящихся к обучению или уже обучающихся <br />
      в Вышке, а также для их бадди — волонтеров, которые <br />
      помогают им с адаптацией к жизни и учёбе в России.
    </p>
  </div>
  <div class="mini_folder1">
    <p>заселение</p>
  </div>
  <div class="mini_folder2">
    <p>документы</p>
  </div>
  <div class="mini_folder3">
    <p>культура</p>
  </div>
  <div class="mini_folder4">
    <p>обучение</p>
  </div>
</div>

# форма
<div id="new_subscription"><%= render 'subscriptions/form' %></div>
