<h4>Header</h4>
<div class="A_Header">
  <p class="Tag_Text Q_PageLink">Discussions</p>
  <p class="Tag_Text Q_PageLink">Tips&Tricks</p>
  <p class="Tag_Text Q_PageLink">Find a buddy</p>
  <p class="Tag_Text Q_PageLink">About</p>
</div>

<div class="A_Language StrokeSelect">
  <p class="Tag_Text">en</p>
  <div class="Q_Icon DropdownWhiteDefault"></div>
</div>

<h4>Footer (Invisible because of white)</h4>
<div class="A_FooterText">
  <p class="Tag_Text Q_PageLink">Discussions</p>
  <p class="Tag_Text Q_PageLink">Tips&Tricks</p>
  <p class="Tag_Text Q_PageLink">Find a buddy</p>
  <p class="Tag_Text Q_PageLink">About</p>
</div>

<div class="A_FooterText">
  <a href="" class="Tags_Text Q_PageLink">@naaayana</a>
  <a href="" class="Tags_Text Q_PageLink">@efpolina</a>
  <a href="" class="Tags_Text Q_PageLink">@dariyonok</a>
</div>

<div class="A_SocialMedia">
  <a class="Q_SocialMedia SocialMediaBlack VKBlack"></a>
  <a class="Q_SocialMedia SocialMediaBlack TelegramBlack"></a>
  <a class="Q_SocialMedia SocialMediaBlack ChatBlack"></a>
</div>

<h4>Tags and Buttons</h4>

<div class="A_Button PrimaryButton">
  <p class="PrimaryButton_Text">Log in</p>
</div>

<div class="A_Button PrimaryButton Disabled">
  <p class="PrimaryButton_Text">Log in</p>
</div>

<div class="A_Button SecondaryButton">
  <p class="SecondaryButton_Text">Log in</p>
</div>

<div class="A_Button TertiaryButton">
  <p class="SecondaryButton_Text">Log in</p>
</div>

<div class="A_StudentInfoTag TagWithFlag">
  <div class="Q_FlagIcon"></div>
  <p>South Korea</p>
</div>

<div class="A_StudentInfoTag TagNoFlag">
  <p>South Korea</p>
</div>

<div class="A_ContentTag TagGreen">
  <p class="Tag_Text">studying</p>
</div>

<div class="A_ReadMoreButton">
  <div class="Q_Icon DropdownDefaultGrey"></div>
  <p class="PrimaryButton_Text">read more</p>
</div>

<div class="A_LoadMoreButton">
  <p class="PrimaryButton_Text">load more</p>
</div>

<div class="A_ArrivalInfo">
  <div class="Q_Icon PlaneBlack"></div>
  <p>20.03.2025, 16:00</p>
</div>

<h4>Images (need to add profile image)</h4>

<div class="A_ArticleImage">
  <div></div>
  <p class="Caption_Text">The exact time and date of the meeting is announced on the HSE Website and university social media, so stay in touch!</p>
</div>

<h4>Text atoms</h4>
<div class="A_ProfileInfo">
  <div class="Q_ProfileIcon"></div>
  <p class="PrimaryButton_Text">An Yujin</p>
</div>

<div class="A_CommentCount">
  <div class="Q_Icon ChatBlack"></div>
  <p class="Tag_Text">9</p>
</div>


<div class="A_ArticleText">
  <h5>Familiarization with Your New Environment</h5>
  <p>Understanding the Layout: Orientation sessions typically include guided tours of the campus or workplace, allowing you to familiarize yourself with key locations such as lecture halls, libraries, laboratories, break rooms, and emergency exits. This knowledge is invaluable as it helps you feel more at home and reduces anxiety about getting lost.
  Access to Facilities: You’ll learn about various facilities available to you, such as fitness centers, student unions, and study lounges. Knowing where these resources are located can enhance your overall experience by encouraging you to utilize them for relaxation and socialization.</p>
</div>

<div class="A_CommentText">
  <p>Understanding the Layout: Orientation sessions typically include guided tours of the campus or workplace, allowing you to familiarize yourself with key locations such as lecture halls, libraries, laboratories, break rooms, and emergency exits. This knowledge is invaluable as it helps you feel more at home and reduces anxiety about getting lost.
  Access to Facilities: You’ll learn about various facilities available to you, such as fitness centers, student unions, and study lounges. Knowing where these resources are located can enhance your overall experience by encouraging you to utilize them for relaxation and socialization.</p>
</div>

<div class="A_OrderedListPoint">
  <div class="Q_OrderedListPoint Green">1</div>
  <p>Essential Step for Success: Attending orientation is crucial for adapting to a new environment and achieving success. Essential Step for Success: Attending orientation is crucial for adapting to a new environment and achieving success.</p>
</div>

<div class="A_UnorderedListPoint">
  <div class="Q_Bullet Green"></div>
  <p>Essential Step for Success: Attending orientation is crucial for adapting to a new environment and achieving success. Essential Step for Success: Attending orientation is crucial for adapting to a new environment and achieving success.</p>
</div>

<div class="A_ArticleNavigationMenu">
  <div class="Q_ArticleMenuPoint MenuPointActive">
    <h6>Introduction</h6>
  </div>
  <div class="Q_ArticleMenuPoint">
    <h6>Introduction</h6>
  </div>
  <div class="Q_ArticleMenuPoint">
    <h6>Introduction</h6>
  </div>
  <div class="Q_ArticleMenuPoint">
    <h6>Introduction</h6>
  </div>
  <div class="Q_ArticleMenuPoint">
    <h6>Introduction</h6>
  </div>
</div>

# С счётчиком
<div class="A_RegistrationHeader">
  <div class="RegistrationHeaderTitle">
    <h3>Welcome! First things first...</h3>
    <h3>1/3</h3>
  </div>
  <p>This will allow you to ask questions, participate in discussions and apply for a buddy</p>
</div>

# С иконкой
<div class="A_RegistrationHeader">
  <div class="RegistrationHeaderTitle">
    <h3>Welcome! First things first...</h3>
    <div class="Q_Icon CrossBlack"></div>
  </div>
  <p>This will allow you to ask questions, participate in discussions and apply for a buddy</p>
</div>

<div class="A_ArticleHeader">
  <h2>What to bring to Russia and what not to</h2>
  <p>This will allow you to ask questions, participate in discussions and apply for a buddy</p>
</div>


<div class="A_Profile">
  <div class="Q_Icon ProfileWhite">
</div>