<h4>Header</h4>

<div class="M_HeaderNavigation">
  <div class="Q_Logo"></div>
  <div class="A_Header">
    <p class="Tag_Text Q_PageLink">Discussions</p>
    <p class="Tag_Text Q_PageLink">Tips&Tricks</p>
    <p class="Tag_Text Q_PageLink">Find a buddy</p>
    <p class="Tag_Text Q_PageLink">About</p>
  </div>
</div>

<h4>Footer</h4>

<div class="M_ChooseLanguage">
<p class="Tag_Text">choose language</p>
  <div class="A_Language StrokeSelect">
    <p class="Tag_Text">en</p>
    <div class="Q_Icon DropdownWhiteDefault"></div>
  </div>
</div>

<h4>Student Card</h4>

<div class="M_StudentInfoTags">
  <div class="A_StudentInfoTag TagWithFlag">
    <div class="Q_FlagIcon"></div>
    <h6>South Korea</h6>
  </div>
  <div class="A_StudentInfoTag TagNoFlag">
    <h6>Exchange student</h6>
  </div>
  <div class="A_StudentInfoTag TagNoFlag">
    <h6>Faculty of foreign languages</h6>
  </div>
</div>

<div class="M_StudentArrivalInfo">
  <h6>Arrival Info</h6>
  <div class="ArrivalInfo_Container">
    <div class="A_ArrivalInfo">
      <div class="Q_Icon PlaneBlack"></div>
      <p>20.03.2025, 16:00</p>
    </div>
    <div class="A_ArrivalInfo">
      <div class="Q_Icon LocationBlack"></div>
      <p>Sheremtievo Airport</p>
    </div>
  </div>
</div>

<p class="Caption_Text">Students</p>
<div class="M_StudentPersonalInfo">
  <h4>An Yujin</h4>
  <p class="PrimaryButton_Text">Korean/English</p>
</div>

<p class="Caption_Text">Buddies</p>
<div class="M_StudentPersonalInfo">
  <h4>An Yujin</h4>
  <p>ayujin@edu.hse.ru</p>
</div>

<div class="M_StudentCardPhoto">
  <div class="Q_ApplicationFormImage"></div>
  <div class="A_Button PrimaryButton">
    <p class="PrimaryButton_Text">Log in</p>
  </div>
</div>

<div class="M_StudentAdditionalInfo">
  <div class="A_ReadMoreButton">
    <div class="Q_Icon DropdownDefaultGrey"></div>
    <p class="PrimaryButton_Text">read more</p>
  </div>
  <div class="AdditionalInfo_Container None">
    <h6>About</h6>
    <p>Hello! I have many hobbies! I like drawing and singing, I am an anime lovers, like watching anime and playing games, such as Genshin Impact. I also like to read books and watch movies, and I like to make some reading notes.</p>
  </div>
</div>

<h4>Toggles</h4>

<div class="M_TagsToggle">
  <div class="A_ToggleOption Toggled">
    <div></div>
    <p class="PrimaryButton_Text">everything</p>
  </div>
  <div class="A_ToggleOption">
    <div></div>
    <p class="PrimaryButton_Text">documents</p>
  </div>
  <div class="A_ToggleOption">
      <div></div>
      <p class="PrimaryButton_Text">life</p>
  </div>
  <div class="A_ToggleOption">
      <div></div>
      <p class="PrimaryButton_Text">culture</p>
  </div>
  <div class="A_ToggleOption">
    <div></div>
    <p class="PrimaryButton_Text">studies</p>
  </div>
</div>

<div class="M_ApplicationsToggle">
  <div class="A_ToggleOption Toggled">
    <div></div>
    <p class="PrimaryButton_Text">all applications</p>
  </div>
  <div class="A_ToggleOption">
    <div></div>
    <p class="PrimaryButton_Text">my students</p>
  </div>
</div>

<h4>Discussion Card</h4>

<div class="M_DiscussionHead">
  <div class="A_ProfileInfo">
    <div class="Q_ProfileIcon"></div>
    <p class="PrimaryButton_Text">An Yujin</p>
  </div>
  <div class="A_ContentTag TagGreen">
    <p class="Tag_Text">studying</p>
  </div>
</div>

<div class="M_DiscussionBottom">
<p class="Caption_Text">12 december 2024, 9PM</p>
  <div class="DiscussionBottom_Icons">
    <div class="A_CommentCount">
      <div class="Q_Icon ChatBlack"></div>
      <p class="Tag_Text">9</p>
    </div>
    <div class="Q_Icon BookmarkBlack"></div>
  </div>
</div>

<div class="M_CommentHead">
  <div class="A_ProfileInfo">
    <div class="Q_ProfileIcon"></div>
    <p class="PrimaryButton_Text">An Yujin</p>
  </div>
  <p class="Caption_Text">12 december 2024, 9PM</p>
</div>

<div class="M_CommentBottom">
  <p>What are the steps I need to follow in order to schedule and undergo a medical examination, including any necessary preparations, required documentation?</p>
  <div class="A_CommentCount">
      <div class="Q_Icon ChatGrey"></div>
      <p>reply</p>
    </div>
</div>

<h4>Forms and Buttons</h4>
<div class="M_TwoButtons Sec_Tert">
    <div class="A_Button SecondaryButton">
      <p class="SecondaryButton_Text">Edit</p>
    </div>
    <div class="A_Button TertiaryButton">
      <p class="SecondaryButton_Text">Log out</p>
    </div>
</div>

<div class="M_TwoButtons Prim_Tert">
    <div class="A_Button PrimaryButton">
      <p class="PrimaryButton_Text">Edit</p>
    </div>
    <div class="A_Button TertiaryButton">
      <p class="SecondaryButton_Text">Log out</p>
    </div>
</div>

<h4>Text styles</h4>

<div class="M_ArticleHeader">
  <div class="A_ContentTag TagGreen">
    <p class="Tag_Text">studying</p>
  </div>
  <div class="A_ArticleHeader">
    <h2>What to bring to Russia and what not to</h2>
    <p>This will allow you to ask questions, participate in discussions and apply for a buddy</p>
  </div>
</div>

<div class="M_ArticleQuote">
  <div class="Q_ArticleQuote QuoteRed">
    <h5>«Attending orientation is not just an event; it is a vital investment in your success, providing the tools, connections, and knowledge necessary to thrive in a new environment»</h5>
  </div>
  <div class="A_ProfileInfo">
    <div class="Q_ProfileIcon"></div>
    <p class="PrimaryButton_Text">An Yujin</p>
  </div>
</div>

<div class="M_OrderedList">
  <h5>In conclusion</h5>
  <div class="OrderedListItems">
    <div class="A_OrderedListPoint">
      <div class="Q_OrderedListPoint Green">1</div>
      <p>Essential Step for Success: Attending orientation is crucial for adapting to a new environment and achieving success. Essential Step for Success: Attending orientation is crucial for adapting to a new environment and achieving success.</p>
    </div>
    <div class="A_OrderedListPoint">
      <div class="Q_OrderedListPoint Green">2</div>
      <p>Essential Step for Success: Attending orientation is crucial for adapting to a new environment and achieving success. Essential Step for Success: Attending orientation is crucial for adapting to a new environment and achieving success.</p>
    </div>
    <div class="A_OrderedListPoint">
      <div class="Q_OrderedListPoint Green">3</div>
      <p>Essential Step for Success: Attending orientation is crucial for adapting to a new environment and achieving success. Essential Step for Success: Attending orientation is crucial for adapting to a new environment and achieving success.</p>
    </div>
    <div class="A_OrderedListPoint">
      <div class="Q_OrderedListPoint Green">4</div>
      <p>Essential Step for Success: Attending orientation is crucial for adapting to a new environment and achieving success. Essential Step for Success: Attending orientation is crucial for adapting to a new environment and achieving success.</p>
    </div>
    <div class="A_OrderedListPoint">
      <div class="Q_OrderedListPoint Green">5</div>
      <p>Essential Step for Success: Attending orientation is crucial for adapting to a new environment and achieving success. Essential Step for Success: Attending orientation is crucial for adapting to a new environment and achieving success.</p>
    </div>
  </div>
</div>

<div class="M_UnorderedList">
  <div class="A_UnorderedListPoint">
    <div class="Q_Bullet Green"></div>
    <p>Essential Step for Success: Attending orientation is crucial for adapting to a new environment and achieving success. Essential Step for Success: Attending orientation is crucial for adapting to a new environment and achieving success.</p>
  </div>
  <div class="A_UnorderedListPoint">
    <div class="Q_Bullet Green"></div>
    <p>Essential Step for Success: Attending orientation is crucial for adapting to a new environment and achieving success. Essential Step for Success: Attending orientation is crucial for adapting to a new environment and achieving success.</p>
  </div>
  <div class="A_UnorderedListPoint">
    <div class="Q_Bullet Green"></div>
    <p>Essential Step for Success: Attending orientation is crucial for adapting to a new environment and achieving success. Essential Step for Success: Attending orientation is crucial for adapting to a new environment and achieving success.</p>
  </div>
  <div class="A_UnorderedListPoint">
    <div class="Q_Bullet Green"></div>
    <p>Essential Step for Success: Attending orientation is crucial for adapting to a new environment and achieving success. Essential Step for Success: Attending orientation is crucial for adapting to a new environment and achieving success.</p>
  </div>
  <div class="A_UnorderedListPoint">
    <div class="Q_Bullet Green"></div>
    <p>Essential Step for Success: Attending orientation is crucial for adapting to a new environment and achieving success. Essential Step for Success: Attending orientation is crucial for adapting to a new environment and achieving success.</p>
  </div>
</div>

<div class="M_HeaderSettings">
  <div class="A_Language BlackSelect">
    <p class="Tag_Text">en</p>
    <div class="Q_Icon DropdownWhiteDefault"></div>
  </div>
  <div class="A_Profile">
    <div class="Q_Icon ProfileWhite">
  </div>
</div>