<div class="MainScreen">

 <h1 class ="Desktop">find your buddy</h1>
 <h4 class ="Desktop">*we help students*</h4>
 <h1 class ="Mobile">find your buddy and chill in university</h1>
  <div class="A_SocialMedia">
    <a class="Q_SocialMedia SocialMediaBlack VKBlack"></a>
    <a class="Q_SocialMedia SocialMediaBlack TelegramBlack"></a>
    <a class="Q_SocialMedia SocialMediaBlack ChatBlack"></a>
  </div>
  <h1 class ="Desktop">and chill in university</h1> 
  <div class = "ChillGuyIndex"> </div>
 
</div>
<div class="S_Articles">
  <div class="O_BigArticleCard">
    <h2>All the important <br />info in our articles</h2>
    <div class="A_Button PrimaryButton">
      <p class="PrimaryButton_Text">Log in</p>
    </div>
    <div class="ArticleGirl"></div>
    <div class="ArticleBoy"></div>
  </div>
  <div class="C_ArticleCards">
    <div class="O_ArticleCard Card_Red">
      <div class="ArticleSaveImage">
        <div class="Q_Icon BookmarkBlack"></div>
        <div class="Q_ArticleCardImage"></div>
      </div>
      <div class="ArticleTagHeader">
        <div class="A_ContentTag TagRed">
          <p class="Tag_Text">culture</p>
        </div>
        <h4>Orientation session and why u shoud go</h4>
      </div>
    </div>
    <div class="O_ArticleCard Card_Pink">
      <div class="ArticleSaveImage">
        <div class="Q_Icon BookmarkBlack"></div>
        <div class="Q_ArticleCardImage"></div>
      </div>
      <div class="ArticleTagHeader">
        <div class="A_ContentTag TagRed">
          <p class="Tag_Text">culture</p>
        </div>
        <h4>Orientation session and why u shoud go</h4>
      </div>
    </div>
    <div class="O_ArticleCard Card_Green">
      <div class="ArticleSaveImage">
        <div class="Q_Icon BookmarkBlack"></div>
        <div class="Q_ArticleCardImage"></div>
      </div>
      <div class="ArticleTagHeader">
        <div class="A_ContentTag TagRed">
          <p class="Tag_Text">culture</p>
        </div>
        <h4>Orientation session and why u shoud go</h4>
      </div>
    </div>
  </div>
</div>


<div class="MainDiscussions">
  <div class="O_PageHeader2">
    <div class="HeaderIconsWhat"></div>
    <h1>what’s on your mind?</h1>
    <div class="A_Button PrimaryButton">
    <p class="PrimaryButton_Text">ask a question</p>
    </div>
    </div>
  <div class="O_DiscussionCardIndex DCI1 Desktop">
    <div class="DiscussionHeadContainer1">
    <div class="M_DiscussionHead">
    <div class="A_ProfileInfo">
    <div class="Q_ProfileIcon"></div>
    <p class="PrimaryButton_Text">An Yujin</p>
    </div>
    <div class="A_ContentTag TagBlue">
    <p class="Tag_Text">documents</p>
    </div>
    </div>
    <h5>
      What are the steps I need to follow in order to schedule and undergo a medical examination?
    </h5>
    </div>
    <div class="M_DiscussionBottom">
    <p class="Caption_Text">12 december 2024, 9PM</p>
    <div class="DiscussionBottom_Icons">
    <div class="A_CommentCount">
    <div class="Q_Icon CommentBlack"></div>
    <p class="Tag_Text">8</p>
    </div>
    <div class="Q_Icon BookmarkBlack"></div>
    </div>
    </div>
    </div>
    <div class="O_DiscussionCardIndex DCI2 Desktop">
      <div class="DiscussionHeadContainer1">
      <div class="M_DiscussionHead">
      <div class="A_ProfileInfo">
      <div class="Q_ProfileIcon"></div>
      <p class="PrimaryButton_Text">An Yujin</p>
      </div>
      <div class="A_ContentTag TagGreen">
      <p class="Tag_Text">studying</p>
      </div>
      </div>
      <h5>
        What happens if I fail one of my midterm exams? Will there be any chance to retake the examination?
      </h5>
      </div>
      <div class="M_DiscussionBottom">
      <p class="Caption_Text">12 december 2024, 9PM</p>
      <div class="DiscussionBottom_Icons">
      <div class="A_CommentCount">
      <div class="Q_Icon CommentBlack"></div>
      <p class="Tag_Text">9</p>
      </div>
      <div class="Q_Icon BookmarkBlack"></div>
      </div>
      </div>
      </div>
    <div class="O_DiscussionCardIndex DCI3 Desktop">
        <div class="DiscussionHeadContainer1">
        <div class="M_DiscussionHead">
        <div class="A_ProfileInfo">
        <div class="Q_ProfileIcon"></div>
        <p class="PrimaryButton_Text">An Yujin</p>
        </div>
        <div class="A_ContentTag TagGreen">
        <p class="Tag_Text">studying</p>
        </div>
        </div>
        <h5>
          What happens if I fail one of my midterm exams? Will there be any chance to retake the examination?
        </h5>
        </div>
        <div class="M_DiscussionBottom">
        <p class="Caption_Text">12 december 2024, 9PM</p>
        <div class="DiscussionBottom_Icons">
        <div class="A_CommentCount">
        <div class="Q_Icon CommentBlack"></div>
        <p class="Tag_Text">9</p>
        </div>
        <div class="Q_Icon BookmarkBlack"></div>
        </div>
        </div>
      </div>
</div>


<div class="MainSteps">
  <h4>*Connect with a buddy! Just follow these simple steps on our site*</h4>
  <div class="Step1"></div>
  <div class="Step2"></div>
  <div class="Step3"></div>
  <div class="Step4"></div>
</div>

<div class="MainBuddy">
<div class="BuddyContainer">
  <h1>match with buddy</h1>
  <div class="A_Button PrimaryButton">
    <p class="PrimaryButton_Text">Log in</p>
    </div>
</div>

</div>