<!-- форма создания обсуждения-->
<div class="O_FormCreated">
  <div class="A_RegistrationHeader">
    <div class="RegistrationHeaderTitle">
      <h2>YOUR QuESTION was created</h2>
      <div class="Q_Icon CrossBlack"></div>
    </div>
  </div>
  <div class="A_Button PrimaryButton">
    <p class="PrimaryButton_Text">create discussion</p>
  </div>
  <div class="Q_ArticleCardImage BlackBoy"></div>
</div>
