<div class="S_DiscussionCards">
  <div class="O_PageHeader2">
  <div class="HeaderIconsWhat"></div>
  <h1>what’s on your mind?</h1>
  <div class="A_Button PrimaryButton">
  <p class="PrimaryButton_Text">ask a question</p>
  </div>
</div>
  <div class="O_FilterAndSearch">
    <div class="M_TagsToggle">
      <div class="A_ToggleOption Toggled">
        <div></div>
        <p class="PrimaryButton_Text">everything</p>
      </div>
      <div class="A_ToggleOption">
        <div></div>
        <p class="PrimaryButton_Text">documents</p>
      </div>
      <div class="A_ToggleOption">
        <div></div>
        <p class="PrimaryButton_Text">life</p>
      </div>
      <div class="A_ToggleOption">
        <div></div>
        <p class="PrimaryButton_Text">culture</p>
      </div>
      <div class="A_ToggleOption">
        <div></div>
        <p class="PrimaryButton_Text">studies</p>
      </div>
    </div>
    <div class="A_Input InputSearch">
      <div class="Q_Icon SearchGrey"></div>
      <input type="text" placeholder="Search" />
    </div>
  </div>

  <div class="C_DiscussionCards">
    <div class="O_DiscussionCardIndex">
      <div class="DiscussionHeadContainer">
        <div class="M_DiscussionHead">
          <div class="A_ProfileInfo">
            <div class="Q_ProfileIcon"></div>
            <p class="PrimaryButton_Text">An Yujin</p>
          </div>
          <div class="A_ContentTag TagGreen">
            <p class="Tag_Text">studying</p>
          </div>
        </div>
        <h5> What are the steps I need to follow in order to schedule and undergo a medical examination?</h5>
      </div>
      <div class="M_DiscussionBottom">
        <p class="Caption_Text">12 december 2024, 9PM</p>
        <div class="DiscussionBottom_Icons">
          <div class="A_CommentCount">
            <div class="Q_Icon CommentBlack"></div>
              <p class="Tag_Text">9</p>
            </div>
            <div class="Q_Icon BookmarkBlack"></div>
          </div>
        </div>
      </div>
      <div class="O_DiscussionCardIndex">
        <div class="DiscussionHeadContainer">
          <div class="M_DiscussionHead">
            <div class="A_ProfileInfo">
              <div class="Q_ProfileIcon"></div>
              <p class="PrimaryButton_Text">An Yujin</p>
            </div>
            <div class="A_ContentTag TagGreen">
              <p class="Tag_Text">studying</p>
            </div>
          </div>
          <h5> What are the steps I need to follow in order to schedule and undergo a medical examination?</h5>
        </div>
        <div class="M_DiscussionBottom">
          <p class="Caption_Text">12 december 2024, 9PM</p>
          <div class="DiscussionBottom_Icons">
            <div class="A_CommentCount">
              <div class="Q_Icon CommentBlack"></div>
                <p class="Tag_Text">9</p>
              </div>
              <div class="Q_Icon BookmarkBlack"></div>
            </div>
          </div>
        </div>
        <div class="O_DiscussionCardIndex">
        <div class="DiscussionHeadContainer">
          <div class="M_DiscussionHead">
            <div class="A_ProfileInfo">
              <div class="Q_ProfileIcon"></div>
              <p class="PrimaryButton_Text">An Yujin</p>
            </div>
            <div class="A_ContentTag TagGreen">
              <p class="Tag_Text">studying</p>
            </div>
          </div>
          <h5> What are the steps I need to follow in order to schedule and undergo a medical examination?</h5>
        </div>
        <div class="M_DiscussionBottom">
          <p class="Caption_Text">12 december 2024, 9PM</p>
          <div class="DiscussionBottom_Icons">
            <div class="A_CommentCount">
              <div class="Q_Icon CommentBlack"></div>
                <p class="Tag_Text">9</p>
              </div>
              <div class="Q_Icon BookmarkBlack"></div>
            </div>
          </div>
        </div>
        <div class="O_DiscussionCardIndex">
        <div class="DiscussionHeadContainer">
          <div class="M_DiscussionHead">
            <div class="A_ProfileInfo">
              <div class="Q_ProfileIcon"></div>
              <p class="PrimaryButton_Text">An Yujin</p>
            </div>
            <div class="A_ContentTag TagGreen">
              <p class="Tag_Text">studying</p>
            </div>
          </div>
          <h5> What are the steps I need to follow in order to schedule and undergo a medical examination?</h5>
        </div>
        <div class="M_DiscussionBottom">
          <p class="Caption_Text">12 december 2024, 9PM</p>
          <div class="DiscussionBottom_Icons">
            <div class="A_CommentCount">
              <div class="Q_Icon CommentBlack"></div>
                <p class="Tag_Text">9</p>
              </div>
              <div class="Q_Icon BookmarkBlack"></div>
            </div>
          </div>
        </div>
        <div class="O_DiscussionCardIndex">
        <div class="DiscussionHeadContainer">
          <div class="M_DiscussionHead">
            <div class="A_ProfileInfo">
              <div class="Q_ProfileIcon"></div>
              <p class="PrimaryButton_Text">An Yujin</p>
            </div>
            <div class="A_ContentTag TagGreen">
              <p class="Tag_Text">studying</p>
            </div>
          </div>
          <h5> What are the steps I need to follow in order to schedule and undergo a medical examination?</h5>
        </div>
        <div class="M_DiscussionBottom">
          <p class="Caption_Text">12 december 2024, 9PM</p>
          <div class="DiscussionBottom_Icons">
            <div class="A_CommentCount">
              <div class="Q_Icon CommentBlack"></div>
                <p class="Tag_Text">9</p>
              </div>
              <div class="Q_Icon BookmarkBlack"></div>
            </div>
          </div>
        </div>
        <div class="O_DiscussionCardIndex">
        <div class="DiscussionHeadContainer">
          <div class="M_DiscussionHead">
            <div class="A_ProfileInfo">
              <div class="Q_ProfileIcon"></div>
              <p class="PrimaryButton_Text">An Yujin</p>
            </div>
            <div class="A_ContentTag TagGreen">
              <p class="Tag_Text">studying</p>
            </div>
          </div>
          <h5> What are the steps I need to follow in order to schedule and undergo a medical examination?</h5>
        </div>
        <div class="M_DiscussionBottom">
          <p class="Caption_Text">12 december 2024, 9PM</p>
          <div class="DiscussionBottom_Icons">
            <div class="A_CommentCount">
              <div class="Q_Icon CommentBlack"></div>
                <p class="Tag_Text">9</p>
              </div>
              <div class="Q_Icon BookmarkBlack"></div>
            </div>
          </div>
        </div>
        <div class="O_DiscussionCardIndex">
        <div class="DiscussionHeadContainer">
          <div class="M_DiscussionHead">
            <div class="A_ProfileInfo">
              <div class="Q_ProfileIcon"></div>
              <p class="PrimaryButton_Text">An Yujin</p>
            </div>
            <div class="A_ContentTag TagGreen">
              <p class="Tag_Text">studying</p>
            </div>
          </div>
          <h5> What are the steps I need to follow in order to schedule and undergo a medical examination?</h5>
        </div>
        <div class="M_DiscussionBottom">
          <p class="Caption_Text">12 december 2024, 9PM</p>
          <div class="DiscussionBottom_Icons">
            <div class="A_CommentCount">
              <div class="Q_Icon CommentBlack"></div>
                <p class="Tag_Text">9</p>
              </div>
              <div class="Q_Icon BookmarkBlack"></div>
            </div>
          </div>
        </div>
        <div class="O_DiscussionCardIndex">
        <div class="DiscussionHeadContainer">
          <div class="M_DiscussionHead">
            <div class="A_ProfileInfo">
              <div class="Q_ProfileIcon"></div>
              <p class="PrimaryButton_Text">An Yujin</p>
            </div>
            <div class="A_ContentTag TagGreen">
              <p class="Tag_Text">studying</p>
            </div>
          </div>
          <h5> What are the steps I need to follow in order to schedule and undergo a medical examination?</h5>
        </div>
        <div class="M_DiscussionBottom">
          <p class="Caption_Text">12 december 2024, 9PM</p>
          <div class="DiscussionBottom_Icons">
            <div class="A_CommentCount">
              <div class="Q_Icon CommentBlack"></div>
                <p class="Tag_Text">9</p>
              </div>
              <div class="Q_Icon BookmarkBlack"></div>
            </div>
          </div>
        </div>
        <div class="O_DiscussionCardIndex">
        <div class="DiscussionHeadContainer">
          <div class="M_DiscussionHead">
            <div class="A_ProfileInfo">
              <div class="Q_ProfileIcon"></div>
              <p class="PrimaryButton_Text">An Yujin</p>
            </div>
            <div class="A_ContentTag TagGreen">
              <p class="Tag_Text">studying</p>
            </div>
          </div>
          <h5> What are the steps I need to follow in order to schedule and undergo a medical examination?</h5>
        </div>
        <div class="M_DiscussionBottom">
          <p class="Caption_Text">12 december 2024, 9PM</p>
          <div class="DiscussionBottom_Icons">
            <div class="A_CommentCount">
              <div class="Q_Icon CommentBlack"></div>
                <p class="Tag_Text">9</p>
              </div>
              <div class="Q_Icon BookmarkBlack"></div>
            </div>
          </div>
        </div>
        <div class="O_DiscussionCardIndex">
        <div class="DiscussionHeadContainer">
          <div class="M_DiscussionHead">
            <div class="A_ProfileInfo">
              <div class="Q_ProfileIcon"></div>
              <p class="PrimaryButton_Text">An Yujin</p>
            </div>
            <div class="A_ContentTag TagGreen">
              <p class="Tag_Text">studying</p>
            </div>
          </div>
          <h5> What are the steps I need to follow in order to schedule and undergo a medical examination?</h5>
        </div>
        <div class="M_DiscussionBottom">
          <p class="Caption_Text">12 december 2024, 9PM</p>
          <div class="DiscussionBottom_Icons">
            <div class="A_CommentCount">
              <div class="Q_Icon CommentBlack"></div>
                <p class="Tag_Text">9</p>
              </div>
              <div class="Q_Icon BookmarkBlack"></div>
            </div>
          </div>
        </div>
  </div>
</div>