<div class="page_header_yunglas">СТАтЬи</div>

<div class="big_article">
  <div class="big_article_content">
    <div class="big_article_text_container">
      <div class="edu_tag">БЫТ</div>
      <h2>Как справиться с культурным шоком?</h2>
      <p>
        Переезд в другую страну для учёбы — это захватывающий и увлекательный
        опыт. Однако, чтобы этот процесс прошёл гладко, важно тщательно
        подготовиться
      </p>
    </div>
    <div class="button_fav">
      <button>ПРОЧИТАТЬ</button>
      <div>
        <img
          src="/assets/big_Icon_BookmarkDefault.svg"
          alt=""
          class="big_icon_size"
        />
      </div>
    </div>
  </div>
  <div class="big_article_img"></div>
</div>

<div class="filters_container">
  <div class="edu_tag black_tag" data-filter="all">ВСЕ</div>
  <div class="edu_tag" data-filter="БЫТ" >БЫТ</div>
  <div class="edu_tag" data-filter="ДОКУМЕНТЫ" >ДОКУМЕНТЫ</div>
  <div class="edu_tag" data-filter="ОБУЧЕНИЕ" >ОБУЧЕНИЕ</div>
  <div class="edu_tag" data-filter="КУЛЬТУРА" >КУЛЬТУРА</div>

</div>


<%
  set_meta_tags(
    title: "Статьи",
    description: "В статьях собрана самая актуальная информация обо всем, что может понадобиться вам для жизни и учёбы в России.",
    keywords: "статьи, документы, учёба, иностранные студенты, культура, быт"
  )
%>

<% content_for :title, "Posts" %>


<% if current_user && current_user.admin? %> 
  <%= link_to "New post", new_admin_post_path %>
<% end %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render collection: @posts, partial: "posts/post" %>
  <% end %>
</div>