<% content_for :title, "Posts" %>

<h1>Posts</h1>

<% if current_user && current_user.admin? %> 
  <%= link_to "New post", new_admin_post_path %>
<% end %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render collection: @posts, partial: "posts/post" %>
  <% end %>
</div>
