<%
  set_meta_tags(
    title: "Статьи",
    description: "В статьях собрана самая актуальная информация обо всем, что может понадобится вам для жизни и учёбы в России.",
    keywords: "статьи, документы, учёба, иностранные студенты, культура, быт"
  )
%>

<% content_for :title, "Posts" %>


<% if current_user && current_user.admin? %> 
  <%= link_to "New post", new_admin_post_path %>
<% end %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render collection: @posts, partial: "posts/post" %>
  <% end %>
</div>