//Desktop

//иконки

.Q_Logo {
    display: block;
    width: 5.29vw;
    height: 3.17vw;
    background-image: url('./images/Q_Logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    //НЕ ОТОБРАЖАЕТСЯ КАРТИНКА
}

.Q_Icon {
    width: 1.59vw;
    height: 1.59vw;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.PlaneBlack {
    background-image: url('./images/PlaneBlack.svg');
}

.PlaneWhite {
    background-image: url('./images/PlaneWhite.svg');
}

.PlaneGrey{
    background-image: url('./images/PlaneGrey.svg');
}

.DropDownBlackActive {
    background-image: url('./images/DropdownBlackActive.svg');
}

.DropDownBlackDefault {
    background-image: url('./images/DropdownBlackDefault.svg');
}

.DropDownWhiteActive {
    background-image: url('./images/DropdownWhiteActive.svg');
}

.DropDownWhiteDefault {
    background-image: url('./images/DropdownWhiteDefault.svg');
}

.DropDownGreyActive {
    background-image: url('./images/DropdownGreyActive.svg');
}

.DropDownGreyDefault {
    background-image: url('./images/DropdownGreyDefault.svg');
}

.LocationGrey{
    background-image: url('./images/LocationGrey.svg');
}

.LocationWhite{
    background-image: url('./images/LocationWhite.svg');
}

.LocationBlack{
    background-image: url('./images/LocationBlack.svg');
}

.ProfileGrey{
    background-image: url('./images/ProfileGrey.svg');
}

.ProfileWhite{
    background-image: url('./images/ProfileWhite.svg');
}

.ProfileBlack{
    background-image: url('./images/ProfileBlack.svg');
}

.CrossGrey{
    background-image: url('./images/CrossGrey.svg');
}

.CrossWhite{
    background-image: url('./images/CrossWhite.svg');
}

.CrossBlack{
    background-image: url('./images/CrossBlack.svg');
}

.BookmarkGrey{
    background-image: url('./images/BookmarkGrey.svg');
}

.BookmarkWhite{
    background-image: url('./images/BookmarkWhite.svg');
}

.BookmarkBlack{
    background-image: url('./images/BookmarkBlack.svg');
}

.BookmarkGrey{
    background-image: url('./images/BookmarkGrey.svg');
}

.BookmarkWhite{
    background-image: url('./images/BookmarkWhite.svg');
}

.BookmarkBlack{
    background-image: url('./images/BookmarkBlack.svg');
}

.CommentGrey{
    background-image: url('./images/CommentGrey.svg');
}

.CommentWhite{
    background-image: url('./images/CommentWhite.svg');
}

.CommentBlack{
    background-image: url('./images/CommentBlack.svg');
}

.SearchGrey{
    background-image: url('./images/SearchGrey.svg');
}

.SearchWhite{
    background-image: url('./images/SearchWhite.svg');
}

.SearchBlack{
    background-image: url('./images/SearchBlack.svg');
}

.CameraGrey{
    background-image: url('./images/CameraGrey.svg');
}

.CameraWhite{
    background-image: url('./images/CameraWhite.svg');
}

.CameraBlack{
    background-image: url('./images/CameraBlack.svg');
}

.Q_SocialMedia {
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.SocialMediaBlack {
    width: 3.71vw;
    height: 3.71vw;
}

.SocialMediaWhite {
    width: 2.65vw;
    height: 2.65vw;
}

.VKWhite {
    background-image: url('./images/Q_IconVkWhite.svg');
}

.VKBlack {
    background-image: url('./images/Q_IconVkBlack.svg');
}

.TelegramBlack {
    background-image: url('./images/Q_IconTelegramBlack.svg');
}

.TelegramWhite {
    background-image: url('./images/Q_IconTelegramWhite.svg');
}

.ChatBlack {
    background-image: url('./images/Q_IconChatBlack.svg');
}

.ChatWhite {
    background-image: url('./images/Q_IconChatWhite.svg');
}

.Q_Bullet {
    width: 0.53vw;
    height: 0.53vw;
    border-radius: 100%;
}

.Q_OrderedListPoint {
    display: flex;
    width: 2vw;
    height: 2vw;
    font-size: 1.06vw;
    border-radius: 50%;
    color: var(--white);
    font-weight: 500;
    align-items: center;
    justify-content: center;
}

.Red {
    background-color: var(--red_main);
}

.Pink {
    background-color: var(--pink_main);
}

.Blue {
    background-color: var(--blue_main);
}

.Green {
    background-color: var(--green_main);
}

// Доделать радио-кнопку

// Картинки
.Q_ArticleCardImage, .Q_ApplicationFormImage, .Q_ArticleHeaderImage,.Q_ProfileIcon, .Q_FlagIcon {
    background-size: contain;
    background-repeat: no-repeat;
}

.Q_ArticleHeaderImage {
    width: 27.19vw;
    height: 23.48vw;
}

.Q_ArticleCardImage {
    width: 16.14vw;
    height: 16.14vw;
}

.Q_ApplicationFormImage {
    width: 12.9vw;
    height: 12.9vw;
    border-radius: 0.53vw;
}

.Q_ProfileIcon {
    width: 2.912vw;
    height: 2.912vw;
    border-radius: 100%;
    background-color: var(--red_main);
}

.Q_FlagIcon {
    width: 1.07vw;
    height: 1.07vw;
}

// Текст
.Q_ArticleQuote {
    width: 51.72vw;
    padding-left: 1.59vw;

    h5 {
        font-size: 2.12vw;
    }
}

.QuoteBlue {
    border-left: 0.33vw solid var(--blue_main);
}

.QuoteRed {
    border-left: 0.33vw solid var(--red_main);
}

.QuotePink {
    border-left: 0.33vw solid var(--pink_main);
}

.QuoteGreen {
    border-left: 0.33vw solid var(--green_main);
}

.Q_ArticleMenuPoint {
    width: 100%;
    height: 1.92vw;
    padding-left: 1.06vw;
    // Надо сделать текст по центру высоты

    h6 {
        color: var(--grey500);
    }
}

.MenuPointActive {
    border-left: 0.198vw solid var(--red_main);

    h6 {
        color: var(--black)
    }
}

.Q_PageLink {
    text-transform: uppercase;
    font-weight: 500;
}

.LinkBlack {
    color: var(--black)
}

.LinkWhite {
    color: var(--white)
}

//Ipad Landscape

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .Q_Logo {
        width: 5.29vw;
        height: 3.17vw;
    }    

    .SocialMediaBlack {
        width: 5.08vw;
        height: 5.08vw;
    }

    .SocialMediaWhite {
        width: 2.74vw;
        height: 2.74vw;
    }

    .Q_OrderedListPoint {
        width: 2.35vw;
        height: 2.35vw;
        font-size: 1.36vw;
    }

    .Q_Bullet {
        width: 0.78vw;
        height: 0.78vw;
    }

    // Картинки

    .Q_ApplicationFormImage {
        width: 12.7vw;
        height: 12.7vw;
        border-radius: 0.78vw;
    }

    .Q_ArticleHeaderImage {
        width: 28.13vw;
        height: 23.05vw;
    }

    .Q_ArticleCardImage {
        width: 15.82vw;
        height: 15.82vw;
    }

    .Q_ProfileIcon {
        width: 3.13vw;
        height: 3.13vw;
    }

    .Q_FlagIcon {
        width: 1.173vw;
        height: 1.173vw;
    }

    // Текст
    .Q_ArticleQuote {
        width: 50.54vw;
        padding-left: 1.56vw;

        h5 {
            font-size: 2.15vw;
        }
    }

    .QuoteBlue {
        border-left: 0.39vw solid var(--blue_main);
    }
    
    .QuoteRed {
        border-left: 0.39vw solid var(--red_main);
    }
    
    .QuotePink {
        border-left: 0.39vw solid var(--pink_main);
    }
    
    .QuoteGreen {
        border-left: 0.39vw solid var(--green_main);
    }

    .Q_ArticleMenuPoint {
        padding-left: 1.17vw;
    }

    .MenuPointActive {
        border-left: 0.29vw solid var(--red_main);
    } 
}

//Ipad Portrait
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

    // Иконки
    .Q_Logo {
        width: 7.82vw;
        height: 4.69vw;
    }    

    .SocialMediaBlack {
        width: 6.77vw;
        height: 6.77vw;
    }

    .SocialMediaWhite {
        width: 3.65vw;
        height: 3.65vw;
    }

    .Q_OrderedListPoint {
        width: 2.61vw;
        height: 2.61vw;
        font-size: 1.69vw;
    }

    .Q_Bullet {
        width: 0.79vw;
        height: 0.79vw;
    }

    .Q_ApplicationFormImage {
        width: 19.8vw;
        height: 19.8vw;
        border-radius: 1.04vw;
    }

    .Q_ArticleHeaderImage {
        width: 27.47vw;
        height: 22.66vw;
        background-color: var(--pink_main);
    }


    .Q_ArticleCardImage {
        width: 17.71vw;
        height: 17.71vw;
        background-color: var(--red_main);
    }

    .Q_ProfileIcon {
        width: 3.13vw;
        height: 3.13vw;
    }

    .Q_FlagIcon {
        width: 1.56vw;
        height: 1.56vw;
        background-color: var(--pink_main);
    }

    // Текст
    .Q_ArticleQuote {
        width: 49.16vw;
        padding-left: 1.56vw;

        h5 {
            font-size: 2.15vw;
        }
    }

    .QuoteBlue {
        border-left: 0.3vw solid var(--blue_main);
    }
    
    .QuoteRed {
        border-left: 0.3vw solid var(--red_main);
    }
    
    .QuotePink {
        border-left: 0.3vw solid var(--pink_main);
    }
    
    .QuoteGreen {
        border-left: 0.3vw solid var(--green_main);
    }

    .Q_ArticleMenuPoint {
        padding-left: 1.04vw;
    }

    .MenuPointActive {
        border-left: 0.26vw solid var(--red_main);
    }
}