/* вместо @import, чтобы отключить убрать =,
 последний для папки */

/*
  *= require vars
  *= require reset
  *= require fonts
  *= require basics
  *= require_tree ./components
*/

.comment {
  border: 1px solid black;
  padding: 3vw;
}

/* .reply {
  margin-left: 8vw;
} */

.menu_icon {
  width: 2.4vw;
  height: 2.4vw;
  vertical-align: middle;
}

.comment_count {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3vw;
}
