html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Inter';
  box-sizing: border-box;
  background-color: var(--purple);
  width: 100%;
  height: max-content;
}

p {
  font-size: 1.3vw;
  line-height: 120%;
}

.text_folder {
  font-size: 1.8vw;
}
.purple_bg {
  background-color: var(--purple);
}

.whitetext {
  color: var(--white);
}

h1 {
  font-size: 5.6vw;
  font-weight: 700;
  font-style: normal;
  /* line-height: 1.5; */
  letter-spacing: -0.3vw;
  text-align: center;
}

h2 {
  font-size: 2vw;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 1.5vw;
  margin-top: 0.8vw;
  position: relative;
}
.textleft {
  text-align: left;
}

.text-logo {
  font-family: 'Cakra';
  font-size: 20vw;
  font-weight: normal;
  font-style: normal;
  color: var(--white);
  line-height: 1;
  letter-spacing: normal;
  z-index: 2;
  position: relative;
}

.S_MenuBar {
  display: flex;
  width: 96vw;
  height: 2vw;
  margin-left: 1.5vw;
  margin-top: 1.9vw;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.3vw;
  z-index: 3;
  position: relative;
  margin-bottom: 1vw;
}

.menu {
  display: flex;
  gap: 1.8vw;
}

.userlogin {
  display: flex;
  gap: 1.2vw;
}

a {
  font-weight: normal;
  color: var(--white);
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: var(--white);
}
.mark {
  margin: 0 auto;
  margin-top: -8vw;
  width: 35vw;
  height: 52vw;
  background-image: url(/assets/mark.png);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
}

.bradki {
  margin: 0 auto;
  margin-top: -8vw;
  width: 81vw;
  height: 39vw;
  background-image: url(/assets/bradki.png);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  position: relative;
}

.chat_bubble {
  width: fit-content;
  height: fit-content;
  background-color: var(--white);
  border-radius: 100px 100px 100px 0px;
  position: absolute;
  margin-top: -40vw;
  margin-left: 64vw;
  border: 1px solid var(--gray);
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
  align-items: center;
  padding: 1.3vw 2.5vw 1.3vw 1.7vw;
  transition-duration: 0.1s;
  opacity: 0;
}
.mark:hover + .chat_bubble {
  opacity: 1;
}
.bubble_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6vw;
  font-weight: 500;
  font-size: 1.3vw;
}
.desript_font {
  font-size: 0.9vw;
  opacity: 0.6;
}
.px_chat {
  width: fit-content;
  height: 7.3vw;
}

.description_follow {
  margin-left: 1.5vw;
  margin-top: -28.5vw;
  margin-bottom: 2.6px;
  position: relative;
  width: 22vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vw;
  justify-content: center;
}
button {
  width: 28vw;
  height: 5vw;
  color: var(--white);
  background-color: var(--black);
  border: 1px solid #363535;
  border-radius: 100px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'Inter';
  font-size: 1.7vw;
  font-weight: 500;
  padding-left: 1.3vw;
  text-decoration: none;
  transition-duration: 0.3s;
  background-image: url(/assets/pixel_arrow_right.svg);
  background-repeat: no-repeat;
  background-position: 23.5vw 0.6vw;
  background-size: 3.5vw;
  vertical-align: middle;
  text-align: left;
  transform: scale(0.8);
  margin-left: -2.9vw;
  text-transform: lowercase;
}

button:hover {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--gray);
  background-image: url(/assets/pixel_arrow_right_black.svg);
  background-repeat: no-repeat;
  background-position: 23.5vw 0.6vw;
  vertical-align: middle;
}

/* @media (min-width: 768px) {
  button {
    padding: 0.75rem 1.5rem;
  }
} */

.folder {
  width: 100vw;
  height: 70vw;
  background-image: url(/assets/folder.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  z-index: 1;
  position: relative;
}

.about_folder {
  width: 100vw;
  height: 70vw;
  background-image: url(/assets/folder.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -8.2vw;
}

.folder_container {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  gap: 1.3vw;
  align-items: center;
}
.px_icon_size_big {
  width: 8vw;
  height: 7vw;
}
.px_icon_size_middle {
  width: 6vw;
  height: 6vw;
}
.px_icon_size_small {
  width: 3.5vw;
  height: 3.5vw;
}

.mini_folder1 {
  width: 15vw;
  height: 6.7vw;
  background-image: url(/assets/purple_folder.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.6vw;
  color: var(--white);
  margin: 80vw 78vw 115vw;
  transform: rotate(9deg) scale(0.9);
}

.mini_folder2 {
  width: 15vw;
  height: 6.7vw;
  background-image: url(/assets/orange_folder.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5vw;
  color: var(--white);
  margin: 80vw 7vw 115vw;
  transform: rotate(348deg) scale(0.9);
}

.mini_folder3 {
  width: 15vw;
  height: 6.7vw;
  background-image: url(/assets/blue_folder.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5vw;
  color: var(--white);
  margin: 150vw 7vw 115vw;
  transform: rotate(8deg) scale(0.9);
  color: var(--black);
}

.mini_folder4 {
  width: 15vw;
  height: 6.7vw;
  background-image: url(/assets/green_folder.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5vw;
  color: var(--white);
  margin: 150vw 78vw 115vw;
  transform: rotate(348deg) scale(0.9);
  color: var(--black);
}
.mailbox {
  margin: 0 auto;
  margin-top: 5vw;
  width: 35vw;
  height: 52vw;
  background-image: url(/assets/mailbox.png);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -99;
  position: relative;
}

.text_container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  margin-top: 2vw;
  gap: 15vw;
}

.note1 {
  width: 22vw;
  height: 8vw;
  background-image: url(/assets/note_left.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: -46vw 70vw 80vw;
  transform: rotate(351deg);
  flex-direction: column;
  padding-left: 5vw;
}

.note2 {
  width: 22vw;
  height: 8vw;
  background-image: url(/assets/note.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: -30vw 70vw 80vw;
  transform: rotate(4deg);
  flex-direction: column;
  padding-left: 5vw;
}

.note3 {
  width: 22vw;
  height: 8vw;
  background-image: url(/assets/note.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: -46vw 3vw 80vw;
  transform: rotate(4deg);
  flex-direction: column;
  padding-left: 5vw;
}

.note4 {
  width: 22vw;
  height: 8vw;
  background-image: url(/assets/note_left.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: -30vw 3vw 80vw;
  transform: rotate(356deg);
  flex-direction: column;
  padding-left: 5vw;
}

.emission {
  background-color: var(--white);
  opacity: 0.01;
  width: 47vw;
  height: 47vw;
  position: absolute;
  filter: blur(1.5rem);
  border-radius: 100%;
  top: 135vw;
  left: 27vw;
}

#discussions {
  position: relative;
  margin-left: 28.2vw;
  width: 44vw;
  height: auto;
  margin-top: 3vw;
  display: flex;
  flex-direction: column;
  gap: 4vw;
  text-align: center;
}
#posts {
  position: relative;
  margin-left: 28.2vw;
  width: 44vw;
  height: auto;
  margin-top: 3vw;
  display: flex;
  flex-direction: column;
  gap: 4vw;
  text-align: center;
}

#position {
  z-index: 5;
  margin-top: -10vw;
  position: relative;
  gap: 5vw;
}
/* #new_user {
  margin-left: 1.5vw;
} */
textarea {
  width: 21vw;
  height: 8vw;
  border: none;
  background-color: var(--white);
  -webkit-border-radius: 12px;
  padding-left: 0.5vw;
  font-size: 1.3vw;
  font-family: 'Inter';
  margin-top: 1vw;
  margin-bottom: 0.2vw;
}

input[type='email'],
[type='password'] {
  width: 20.4vw;
  height: 4.3vw;
  border: none;
  background-color: var(--lightgray);
  -webkit-border-radius: 12px;
  padding-left: 1.5vw;
  font-size: 1.3vw;
  font-family: 'Inter';
  margin-top: 1vw;
  margin-bottom: 0.6vw;
}

/* input[type='text'],
[type='password'] {
  width: 26vw;
  height: 4.3vw;
  border: none;
  background-color: var(--lightgray);
  -webkit-border-radius: 12px;
  padding-left: 1.9vw;
  font-size: 1.3vw;
  font-family: 'Inter';
  margin-top: 1.5vw;
  margin-bottom: 1vw;
} */

input[type='submit'] {
  width: 22.3vw;
  height: 3.8vw;
  color: var(--white);
  background-color: var(--black);
  border: 1px solid #363535;
  border-radius: 100px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'Inter';
  font-size: 1.4vw;
  font-weight: 500;
  text-decoration: none;
  transition-duration: 0.3s;
  text-transform: lowercase;
  margin-bottom: 1vw;
  margin-top: 0.5vw;
}

input[type='submit']:hover {
  background-color: var(--green);
  color: var(--black);
  border: 1px solid var(--darkgreen);
}

/* label {
  font-family: inherit;
  font-size: inherit;
} */

.email_container {
  width: 26vw;
  height: 15.3vw;
  display: flex;
  flex-direction: column;
}

.sub {
  width: 56vw;
  height: 33vw;
  display: flex;
  flex-direction: column;
  margin-left: 1.5vw;
  justify-content: space-between;
  align-items: flex-start;
}

.img_rocket {
  width: 35vw;
  height: 32vw;
  background-image: url(/assets/rocket.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.footer {
  width: fit-content;
  height: 15vw;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 9vw;
  margin-left: 1.5vw;
  margin-top: -3vw;
}
.about_footer {
  width: auto;
  height: 17vw;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 9vw;
  padding-left: 1.5vw;
  margin-top: -3vw;
  padding-top: 4vw;
  background-color: var(--purple);
}

.ft_1 {
  width: 11vw;
  height: fit-content;
  gap: 1vw;
  display: flex;
  font-size: 1.1vw;
  flex-direction: column;
}

.ft_2 {
  width: 11vw;
  height: fit-content;
  gap: 1vw;
  display: flex;
  font-size: 1.1vw;
  flex-direction: column;
}

.ft_3 {
  width: 15vw;
  height: fit-content;
  gap: 1vw;
  display: flex;
  font-size: 1.1vw;
  flex-direction: column;
}
.ft_text {
  font-size: 1.1vw;
}
.text_opacity {
  opacity: 0.6;
}

.about_bg {
  background-color: var(--blue);
}

.square {
  width: 20vw;
  height: 17.5vw;
  padding: 1.8vw;
}
.card1 {
  background-color: var(--green);
  border: 1px solid var(--darkgreen);
  -webkit-border-radius: 17px;
  position: absolute;
  top: 70vw;
  left: 5vw;
}
.card2 {
  background-color: var(--orange);
  border: 1px solid var(--darkorange);
  -webkit-border-radius: 17px;
  position: absolute;
  top: 83vw;
  left: 26vw;
}
.card4 {
  background-color: var(--blue);
  border: 1px solid var(--darkblue);
  -webkit-border-radius: 17px;
  position: absolute;
  top: 81vw;
  left: 65vw;
}
.card3 {
  width: 33vw;
  height: 15vw;
  background-color: var(--purple);
  border: 1px solid var(--darkpurple);
  -webkit-border-radius: 17px;
  padding: 1.8vw;
  position: absolute;
  top: 60vw;
  left: 45vw;
}
.card_text {
  margin-top: 1vw;
  font-size: 2.1vw;
}
.h1_about {
  display: inline;
  margin-left: 1.5vw;
  top: 13vw;
  position: relative;
}
.h1_about_1 {
  margin-left: 1.5vw;
  top: 10vw;
  position: relative;
}
.h1_about_2 {
  display: inline;
  top: 18vw;
  left: 40vw;
  position: relative;
}
.number {
  top: 5vw;
  margin-left: 34vw;
  position: relative;
  font-size: 2.3vw;
  font-style: italic;
}

.number2 {
  top: -3vw;
  margin-left: 33vw;
  position: relative;
  font-size: 2.3vw;
  font-style: italic;
}
.number3 {
  display: inline;
  margin-left: 1.5vw;
  top: 9vw;
  left: 42vw;
  position: relative;
  font-size: 2.3vw;
  font-style: italic;
}
.func1 {
  width: 100vw;
  height: 65.7vw;
  background-image: url(/assets/buddy_bg_purple.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  margin-top: -8.2vw;
  z-index: -5;
}

.func2 {
  width: 100vw;
  height: 65.7vw;
  background-image: url(/assets/buddy_bg_blue.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.todo1 {
  width: 28vw;
  height: 20vw;
  background-image: url(/assets/todo_purp.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  margin: 9vw 0vw 0vw 21vw;
  display: flex;
}

.todo2 {
  width: 28vw;
  height: 20vw;
  background-image: url(/assets/todo_blue.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  margin: 20vw 0vw 0vw 60vw;
  display: flex;
}

.todo_text1 {
  width: 28vw;
  height: 20vw;
  padding: 4.7vw 0vw 0vw 6vw;
  gap: 1vw;
  display: flex;
  flex-direction: column;
}
.todo_text2 {
  width: 28vw;
  height: 20vw;
  padding: 4.9vw 0vw 0vw 6vw;
  gap: 1vw;
  display: flex;
  flex-direction: column;
}
