html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'TT Hoves';
  box-sizing: border-box;
  background-color: var(--purple);
  width: 100%;
  height: max-content;
  background-color: var(--white);
}

/* Text Styles */

h1 {
  font-family: 'Bebas Neue';
  font-size: 11.11vw;
  font-weight: 700;
  line-height: 11vw;
  font-style: normal;
}

h2 {
  font-family: 'Bebas Neue';
  font-size: 6.5vw;
  font-weight: 700;
  line-height: 100%;
  font-style: normal;
  color: var(--black);
}

h3 {
  font-family: 'Bebas Neue';
  font-size: 2.38vw;
  font-weight: 500;
  font-style: normal;
  color: var(--black);
}

h4 {
  font-family: 'SA Long Beach';
  font-size: 2.12vw;
  font-style: normal;
  color: var(--black);
}

h5 {
  font-family: 'TT Hoves';
  font-size: 1.6vw;
  font-weight: 500;
  color: var(--black)
}

h6 {
  font-family: 'TT Hoves';
  font-size: 1.08vw;
  font-weight: 500;
  color: var(--black)
}

p {
  font-size: 1.2vw;
  color: var(--black);
  line-height: 110%;
  font-weight: 400;
}

.PrimaryButton_Text {
  text-transform: uppercase;
  font-size: 1.06vw;
  font-weight: 500;
  font-style: normal;
}

.SecondaryButton_Text {
  font-size: 1.06vw;
  font-weight: 500;
  font-style: normal;
}

.Caption_Text {
  font-size: 0.925vw;
  font-weight: 400;
  font-style: normal;
}

.Tag_Text {
  text-transform: uppercase;
  font-size: 0.925vw;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--black);
}

/* Ipad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

  h1 {
    font-size: 11.11vw;
  }

  h2 {
    font-size: 6.5vw;
  }

  h3 {
    font-size: 2.38vw;
  }

  h4 {
    font-size: 2.34vw;
  }

  h5 {
    font-size: 2.2vw;
  }

  h6 {
    font-size: 1.36vw;
  }

  p {
    font-size: 1.53vw;
  }

  .PrimaryButton_Text, .SecondaryButton_Text {
    font-size: 1.37vw;
  }

  .Tag_Text, .Caption_Text {
      font-size: 1.2vw;
  }
}

/* Ipad Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

  h1 {
    font-size: 10.3vw;
  }

  h2 {
    font-size: 6.5vw;
  }

  h3 {
    font-size: 3.1vw;
  }

  h4 {
    font-size: 2.6vw;
  }

  h5 {
    font-size: 2.6vw;
  }

  h6 {
    font-size: 1.83vw;
  }

  p {
    font-size: 1.8vw;
  }

  .PrimaryButton_Text {
    font-size: 1.7vw;
  }

  .SecondaryButton_Text {
    font-size: 1.56vw;
  }

  .Tag_Text {
    font-size: 1.55vw;
  }

  .Caption_Text {
    font-size: 1.3vw;
  }
}