:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #dedddd;
  --lightgray: #f5f5f5;
  --purple: #4c5bff;
  --darkpurple: #3442d9;
  --orange: #ff7002;
  --darkorange: #db6a13;
  --green: #ccfe39;
  --darkgreen: #bdec33;
  --blue: #00c3fb;
  --darkblue: #1fadd6;
}
