:root {
  --white: #ffffff;
  --black: #282828;
  --gray: #9a9a9a;
  --lightgray: #f5f5f5;
  --pink: #f57de1;
  --orange: #f06816;
  --green: #c2eb4d;
  --blue: #4e67f7;
  --yellow: #fafc1b;
  --purple: #6150f7;
}
